.AuthWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AuthContainer {
    transition: 250ms;
    width: 520px;
    height: 700px;
    background-color: rgb(44, 47, 49);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.welcomeMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcomeLabel {
    margin-top: 25px;
    color: white;
    font-size: 32px;
    font-weight: 500;
}

.welcomeMessage p {
    color: rgb(150, 148, 148);
    font-size: 18px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
}

.inputFields {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 0;
    height: 100%;
}

.inputFieldsSignup {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 0;
    height: 100%;
}
<<<<<<< Updated upstream

.inputFields input {
    color: white;
=======
.inputFieldsSignup input, .inputFields input {
    color:white;
>>>>>>> Stashed changes
    font-size: 20px;
    padding-left: 20px;
}

.authFieldLabel {
    padding-left: 18px;
    color: rgb(150, 148, 148);
    font-size: 18px;
}

.authField {
    background-color: rgb(56, 56, 56);
    border: none;
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 20px;
    caret-color: white;
}

.authField:focus {
    border: 1px solid rgba(66, 173, 255, 0.623);
}

.loginSection {
    margin-top: 0;
    margin-bottom: 0%;
}

.loginButton {
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 2em;
    height: 70px;
    background-color: rgb(52, 141, 209);
    border-radius: 50px;
    outline: none !important;
    border: none !important;
    transition: 100ms ease-out;
}

.loginButton:hover {
    background-color: rgb(30, 115, 180);
}

.loginButton:active {
    background-color: rgb(166, 207, 241);
    color: rgb(56, 55, 55);
}

.loginSection p {
    padding: 0;
    margin: 0;
    color: rgb(97, 97, 97);
}

.authMode {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
}

.loginMode {
    margin-left: 5px !important;
    color: rgb(31, 171, 252) !important;
    cursor: pointer;
}

.loginMode:hover {
    color: rgb(110, 202, 255) !important;
}

.errors {
    color: rgb(255, 97, 97);
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    align-self: center;
}

.AuthContainer {
    font-family: "Whitney";
}