$primary: #ffffff; 
$secondary: #0080ff;


@font-face {
    font-family: "Whitney";
    src: local('Whitney'),url("./Assets/Fonts/whitneymedium.woff") format('woff');
}
@font-face {
    font-family: "Whitney SemiBold";
    src: local('Whitney SemiBold'),url("./Assets/Fonts/whitneysemibold.woff") format('woff');
}
@font-face {
    font-family: "Whitney Bold";
    src: local('Whitney Bold'),url("./Assets/Fonts/whitneybold.woff") format('woff');
}
@font-face {
    font-family: "Whitney Light";
    src: local('Whitney Light'),url("./Assets/Fonts/whitneylight.woff") format('woff');
}

@import '~bootstrap/scss/bootstrap.scss';