.cardSection {
    overflow: hidden;
    height: 100%;
    width: fit-content;
    background-color: var(--secondary);
}

.cardHolder {
    background-color: green;
    height: 80%;
    width: 400px;
    border-radius: 20px;
}