.navBody {
    top:0;
    display:flex;
    position: absolute;
    width: 100%;
    height:64px;
    align-items: center;
    background-color: white;
}
.logoBundle h1{
    color:black;
    align-self: center;
    padding: 0;
    margin:0;
    font-family: "Whitney";
    font-size: 26px;
    font-weight: bold;
    margin-left:3px;
    white-space: nowrap;
}
a:hover {
    text-decoration: none !important;
}
.logo {
    width:40px;
    height:40px;
}
.logoBundle {
    display: flex;
    margin-left:15%;
    margin-right:auto;
    cursor: pointer;
}
.navButtons {
    margin-right:25%;
    margin-top:auto;
}
.loginButton {
    color:black;
    font-family: "Whitney";
    font-size: 22px;
    font-weight: bold;
    width:100px;
    height:40px;
    cursor: pointer;
}
.loginButton:hover {
    color: rgb(1, 121, 212);
}