.sidebarBody {
    padding:0;
    z-index: 3;
    transition: 220ms ease-in-out;
    background-color: var(--theme-primary);
    width:80px;
    height:100%;
    font-family: "Whitney";
}
.sidebarBody_active{
    transition-delay: 500ms;
    width:260px;
}

.upperBoard {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height:25%;
    text-align: center;
}
.nameCardContainer {
    display: flex;
    cursor: pointer;
}
.nameCardContainer .profileIcon {
    color:var(--theme-text);
    line-height: 50px;
    font-size: 22px;
    margin-bottom: auto;
    /* position: absolute; */
    margin-left:10px;
    min-width:55px;
    height:55px;
    border-radius: 35px;
    border:2px solid var(--theme-text);
    pointer-events: none;
}

.nameCardContainer .Name {
    opacity: 0;
    z-index: 4 ;
    padding-left:30px;
    transition: 150ms ease-in-out ;
    line-height: 53px;
    font-size: 22px;
    font-family: "Whitney";
    color:var(--theme-text);
}
.sidebarBody:hover .Name {
    opacity: 1;
}
.createButton {
    transition: 160ms ease-in-out ;
    margin-top:30px;
    color:var(--theme-text);
    line-height: 50px;
    font-size: 22px;
    margin-left:10px;
    min-width:55px;
    width:55px;
    height:55px;
    border-radius: 35px;
    border:2px solid var(--theme-text);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.sidebarBody_active .createButton{
    transition-delay: 500ms;
    width:185px;
}
.createButton:hover{
    transition-delay: 0s;
    transition: 80ms ease-out;
}
.createButton:active {
    background-color: var(--theme-click);
}

.createBtnSvg{
    transition: 160ms ease-in-out ;
    margin-left:5px;
    min-width:40px;
    height:40px;
    color:var(--theme-text)
}
.createBtnTxt {
    color:var(--theme-text);
    padding:0;
    font-size:0px;
    white-space: nowrap;
    font-family: "Whitney";
    opacity:0;
    transition: 160ms ease-in-out ;
    
}
a {
    text-decoration: none !important;
}
.sidebarBody_active .createBtnTxt{
    opacity:1;
    font-size:18px;
    margin-left:15px;
    transition-delay: 450ms;
}
.sideBarDivider {
    align-self: center;
    width:100%;
    margin-right: auto;
    margin-left: auto;
    height:1px;
    background-color: var(--theme-text);
}
.lowerBoard {
    margin-top:10px;
    height:auto;
    text-align: center;
}
.buttonContainer{
    cursor: pointer;
    height:80px;
}
.boardButton {
    transition: 160ms ease-in-out ;
    color:white;
    line-height: 50px;
    font-size: 22px;
    border-radius: 35px;
    background-color: rgb(189, 62, 189);
    width:55px;
    height:55px;
    position: absolute;
    left:10px;
    z-index: 4;
}
.buttonBanner {
    transition: 180ms ease-in-out ;
    color:white;
    line-height: 50px;
    font-size:0px;
    border-radius: 35px;
    background-color: rgb(90, 51, 105);
    width:55px;
    padding-left:30px;
    height:55px;
    position: absolute;
    left:10px;
    z-index: 3;
}
.sidebarBody_active .buttonBanner{
    margin-left:10px;
    transition-delay: 500ms;
    width:185px;
    font-size: 20px;
}


.toggleContainer {
    position: absolute;
    display: flex;
    height:30px;
    left:15px;
    width:50px;
    bottom: 10px;
    justify-content: center;
    cursor: pointer;
}
.sidebarBody_active .toggleContainer{
    transition-delay: 500ms;
    width: 185px;
}
.toggleBody {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    width:55px;
    height:25px;
    border-radius: 25px;
}  
.toggleKnob {  
    transition: 100ms ease-in-out;

    margin-left:1px;
    margin-right: 1px;
    width:24px;
    clip-path: circle(50%);
    height:24px;
    background-color: teal;
}
.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    transition-delay: 0s !important;
  } 